version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: antares-mysql
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: smul
      MYSQL_DATABASE: antares
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
